{% extends 'base.html' %}

{% block content %}

<div id="map" style="height:600px;width: 600px;"></div>
{{ stations|json_script:"stations_json" }}
<script>
//lima->[-12.046374, -77.042793]
//uk->[41.5055, -72.700]
var map = L.map('map').setView([41.5055, -72.700], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

let stations = JSON.parse(document.getElementById('stations_json').textContent)

// for each station add a marker
stations.forEach(station => {
    L.marker([station.latitude, station.longitude]).addTo(map)
});

</script>
{% endblock %}